{% extends "menu.html" %}
{% block title %} Frases {% endblock %}

{% block contenido %}
    <h2>Scraping  {{ estado }}</h2>
    <div class="container">
        <form method="post" action="{% url 'frases' id=id %}">
            {% csrf_token %}
        <div class="table-responsive" style="max-height: 520px; overflow-y: auto;">
            <table class="table">
                <thead  class="sticky-top table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Texto</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for texto in info %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ texto }}</td>
                            <td>
                                    <button type="submit" name="delete" class="btn btn-danger" value="{{ texto }}" ><i class="bi bi-trash"></i></button>
                               
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button name="submit_button" value="guardar" class="btn btn-primary">Guardar</button>
    </form>
    </div>
{% endblock %}